.arrow-toggle {
  display: none
}
.header-small-toggle-wrapper ,.search-form-header-small{
  display: none;
}
.more-filters{
  display: none;
}
@media all and (max-width: 1450px) {

}/*(max-width: 1450px)*/
@media all and (max-width: 1285px) {
  //@import "menuresponsivearrow";
}/*(max-width: 1285px)*/
@media all and (max-width: 1200px) {
  .site-header {
    .website-logo-main-wrapper {
      .widget.widget_wizardinfosys_autosearch form{
        max-width: 470px;
      }
      .widget_shopping_mini_cart.dropdown-cart {
        h4.widget-title{
          top: 15px;
        }
      }
    }

  }
  body{
    .wp_autosearch_suggestions{
      min-width: 470px;
    }
  }
}/*(max-width: 1200px)*/
@media all and (max-width: 1024px) {
  @each $header, $size in (h1: 39px, h2: 37px, h3: 25px, h4: 23px, h5: 18px, h6: 16px) {
    body #{$header} {
      font-size: $size;
      line-height: $size;
    }
  }
  //@import "menuresponsivearrow";

  .site-header{
    .main-navigation{
      width: 100%;
      display: block !important;
      padding-top: 10px;
      padding-bottom: 10px;
      /*li {
        padding: 19px 10px;
        @include transform-transition(all 0.4s);
        a {
          color: $main_paragraph;
          font-size: 18px;
          font-family: $lists_font;
        }
        &.current-menu-item,
        &:hover{
          a {
            color: $main_white !important;
          }
          background-color: $hover_color;
        }
      }*/
    }
  }
  .header-small-toggle-wrapper{
    padding-top: 5px;
    padding-bottom: 5px;
    color: $main_orange;
    display: block;
    span{
      cursor: pointer;
      display: inline-block;
      i{
        font-size: 20px;
      }
    }
    .expand{
      .fa-chevron-down{
        &:before{
          content: '\f077 ';
        }
      }
    }
  }
  .header-small{
    display: none;

    .col-md-6{
      width: 100%;
      text-align: center;
      padding-bottom: 5px;
      padding-top: 5px;
      .pull-left{
        float: none !important;
      }
    }
    .top-header-widgets{
      display: inline-block;
    }
  }
  .slider-text-wrapper{
    padding-right: 60px;
  }
  .widget{
    &.widget_search_filter_register_widget{
      .searchandfilter{
        .sf-field-taxonomy-product_cat {
          >ul{
            margin-bottom: 20px;
          }
          h4{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
/*  .home-icon-nav{
    display: none !important;
  }*/
  body .ubermenu.ubermenu-responsive .ubermenu-column:nth-of-type(2n+1){
    clear: none;
  }
}/*(max-width: 1024px)*/
@media all and (max-width: 1020px) {

}/*(max-width: 1020px)*/
@media all and (max-width: 991px) {
  .widget.woocommerce.widget_product_categories{
    display: none;
  }
  .home-category-wrapper{
    display: none;
  }
  body.woocommerce,
  div.woocommerce{
    ul.products li .one-product-inner .button{
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      min-width: 100px;
      width: auto;
      max-width: 165px;
    }
  }
  .aws-search-result{
    max-width: 100%;
  }
  .search-form-header-small{
    display: block;
    #wizardinfosys_autosearch_form {
      width: 100%;

      input{
        margin-bottom: 0;
        width: 100% !important;
        font-size: 16px !important;
        height: 44px !important;
      }
      button{
        display: none !important;
      }
      .wp_autosearch_form_wrapper {
        padding-left: 20px !important;
        padding-right: 20px !important;
        border-color: $border_color !important;
        height: 46px !important;
        @include border-radius(30px !important);
      }
    }
  }
  .logo-shop-details-wrapper{
    .container{
      padding: 0;
    }
  }
  .site-header {
    .website-logo-main-wrapper {
      > aside{
        display: block;
        height: auto;
        width: 50%;
        float: left;
      }
      .main-logo-inner{
        text-align: center;
        padding: 15px;
        width: 50%;
        img{
          max-width: 300px;
        }
      }
      .widget_shopping_mini_cart.dropdown-cart{
        max-width: 100%;
        width: 50%;
        text-align: center;
        padding: 37px 0;
        h4{
          margin: auto;
          width: 200px;
          right: 30px;
        }
        .widget_shopping_mini_cart_content{
          width: 100%;
          display: inline-block;
          .dropdown.dropdown-left{
            width: 100%;
            top: 83px;
            right: 0;
          }
          .dropdown-cart-button{
            width: 100%;
            text-align: center;
            > a{
              width: 140px;
              text-align: right;
              display: inline-block;
            }
          }
        }
      }
      .widget.widget_wizardinfosys_autosearch{
       display: none;
      }
    }
  }
  /*footer*/
  footer{
    &.site-footer{
      .widget-wrapper{
        .col-md-3{
          width: 49%;
          float: left;
          h4.widget-title{
            text-align: center;
          }
          ul.menu{
            li{
              text-align: center ;
              width: 100%;
              padding-right: 10px;
              margin: auto;
              /*&:before{
                position: relative;
                left: -10px;
              }*/
            }
          }
        }
        .widget_librafire_social_widget a{
          width: 210px;
          margin: auto auto 5px;
          text-align: left;
        }
      }
    }
  }
  .site-main.col-md-10.pull-right{
    float: none !important;
  }
  .shop-features{
    padding-bottom: 2px;
    table{
      td{
        display: block;
        width: 50%;
        float: left;
        padding-bottom: 10px;
      }
    }
  }
  .sidebar li {
    width: 50%;
    float: left;
    padding-right: 15px;
  }
  .widget.widget_product_categories {
    .product-categories {
      li{
        width: 100%;
        display: inline-block;
        &.cat-parent{
          width: 100%;
          display: block;
         /* ul{
            li{
              width: 32%;
            }
          }*/
        }
      }
    }
  }
  .home-over-ons-wrapper{

    .col-md-3{
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .over-ons-section-text{
    > h2{
      text-align: center;
    }
  }

  .site-content{
    .col-md-10.pull-left,
    .col-md-9.pull-left,
    .col-md-9.pull-right,
    .col-md-10.pull-right{
      float: none !important;
    }
  }
  .widget.widget_search_filter_register_widget {
    margin-top: 25px;
    border-bottom: 1px solid $border_product_color;
    .more-filters{
      display: block;
      margin-bottom: 25px;
      text-align: center;
      cursor: pointer;
      &.expand{
        i{
          &:before{
            content: '\f139';
          }
        }

      }
    }
    form{
      display: none;
      .meta-slider{/*
        margin-left: auto;
        margin-right: auto;*/
      }
      > ul {
        > li{
          //text-align: center;
          .children{
            //border-top: 1px solid $main_paragraph;
          }
          li{
            display: block;
            label{
              display: inline-block;
            }
          }
        }
      }
    }

  }
  body.woocommerce-page.woocommerce-account {
    .woo-account-header {
      .woo-account-inner-header {
        .customer-services-wrapper{
          padding-top: 15px;
          width: 100%;
          text-align: center;
        }
        .woo-account-user-email{
          width: 100%;
          text-align: center;
        }
        .woo-account-add-cart{
          padding-top: 15px;
          width: 100%;
          text-align: center;
        }
      }
    }
    .woocommerce-MyAccount-content{
      width: 100% !important;
      padding: 0;
    }
    .woocommerce-MyAccount-navigation {
      width: 100%;
      ul{
        max-width: 100%;
      }
    }
  }
  .call-tio-action-main-wrapper {
    .call-to-action-text{
      padding-bottom: 10px;
      padding-right: 0;
    }
  }
.home{
  #secondary{
    &.widget-area.col-md-2{
      display: none;
    }
  }
  .col-md-3.sidebar{
    margin-top: 50px;
    .widget-title{
      //text-align: center;
    }
  }
}
  .site-header .website-logo-main-wrapper .widget_shopping_mini_cart.dropdown-cart .dropdown-cart-button .dropdown .buttons{
    a{
      padding: 9px 20px;
    }
  }
}/*(max-width: 991px)*/
@media all and (max-width: 960px) {
  .widget.widget_search_filter_register_widget{
    margin-right: 0;
  }
}/*(max-width: 960px)*/
@media all and (max-width: 800px) {
  header #site-navigation > div{
    width: 60%;
  }

}
@media all and (max-width: 770px) {


}/*(max-width: 770px)*/
@media all and (max-width: 768px) {
  .logged-in{
    .menu-wrapper{
      top: 46px;
    }
  }
  .menu-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  body{
    margin-top: 40px;
  }
  #site-navigation{
    nav{
      display: none;
    }
  }
  .menu-toggle{
    display: block;
    float: left;
    font-size: 20px;
    background-color: $main_dark;
    color: $main_white;
    border: none;
  }
  .website-logo-main-wrapper{
    display: none;
  }

  .site-header{
    .header-small-toggle-wrapper{
      border-bottom: 1px solid $main_dark;
    }
    nav#site-navigation{
      display: inline-block !important;
      width: 32%;
      vertical-align: middle;
      button{
        padding:0;

      }
    }
    .main-logo-inner{
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 33%;
      text-align: center;
      img{
        height: 50px;
      }
    }
    .widget.widget_text{
      display: none;
      width: 0;
      height: 0;
    }

    .widget_shopping_mini_cart.dropdown-cart{
      display: inline-block;
      padding: 10px 0 0 0;
      width: 33%;
      vertical-align: middle;
      text-align: right;
      margin-bottom: 0;
      background-color: transparent;
      &.active{
        background-color: transparent;
        .dropdown-total{
          height: 30px;
          width: 25px;
          display: inline-block !important;
          background-size: contain !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          &:after{
            content: none !important;
          }
        }
      }
      .dropdown-total {
        height: 30px;
        width: 25px;
        display: inline-block !important;
        background: url("../images/cart.png") !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        &:after{
          content: none !important;
        }
        .count-item{
          display: none !important;
        }
        .woocommerce-Price-amount{
          display: none !important;
        }
      }
      .dropdown-cart-button {
        .dropdown{
          position: fixed;
          width: 100%;
          left:0;
          right:0;
          max-width: 100%;
        }
      }
      .widget-title{
        display: none;
      }
    }
  }
  .mobile-menu {
    display: block;
    overflow: hidden;
    position: fixed;
    left: -100%;
    top: 40px;
    background: #f9f9f9;
    width: 80%;
    height: 100%;
    color: $main_white;
    z-index: 10;
    @include box-shadow(0 0 10px $main_dark);
    h4{
      padding: 16px 0;
      background: $main_purple;
      color: $main_white;
      margin-top: 0;
      font-size: 16px;
      line-height: 100%;
      i{
        font-size: 16px;
        line-height: 100%;
        color: $main_white;
      }
    }
    ul {
      width: 100%;
      padding-left: 0;
      margin-left: 0;
      z-index: 2;
    }
    li {
      padding: 0 15px 10px;
      a {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
        font-family: $lists_font;
      }
      .expand-menu-link {
        text-align: right;
        position: absolute;
        width: 19%;
        vertical-align: middle;
      }
    }
    ul.sub-menu {
      background-color: #f9f9f9;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 105%;
    }
    a, li, span, div {
      color: $purple_dark;

    }
  }
  body.woocommerce-page {
    .cart-collaterals {
      .cart_totals{
        max-width: 100%;
      }
    }
  }
  div.woocommerce {
    table.shop_table {
      tbody {
        td.actions {
          background-color: transparent !important;
          div.coupon {
            padding-bottom: 0 !important;
            margin-bottom: 15px;
            @include border-radius(20px);
            input[type='text']{
              width: 50% !important;
              float: left;
            }
            input[type='submit']{
              width: 50% !important;
              float: left;
            }
          }
        }
      }
    }
  }
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
    background-color: transparent !important;
  }
  body.woocommerce{
    &.woocommerce-page {
      div.product {
        div.images{
          float: left !important;
        }
        div.summary{
          float: right !important;
        }
      }
    }
  }
  body.woocommerce,
  div.woocommerce {
    &.woocommerce-page.archive {
      li.product{
        width: 47%;
        &:nth-child(odd){
          margin-left: 0;
        }
        &:nth-child(even){
          margin-right: 0;
        }
      }
    }
    ul.products {
      li.product{
        width: 47% ;
        &:nth-child(odd){
          margin-left: 0;
        }
        &:nth-child(even){
          margin-right: 0;
        }
      }
    }
    .related{
      ul.products{
        li.product{
          float: left;
          clear: none;
          &:nth-child(odd){
            margin-left: auto !important;
            margin-right: auto !important;
          }
          &:nth-child(even){
            margin-right: auto !important;
            margin-left: auto !important;
          }
        }
      }
    }
    &.woocommerce-page{
      div.product {
        div.summary {
          margin-top: 25px;
          .price{
            //text-align: center;
            margin-bottom: 15px;
          }
          .woocommerce-product-rating{
            text-align: center;
            margin-bottom: 15px;

            .star-rating{
              display: inline-block;
              float: none;
            }
          }
          h1,h2,h3{
            //text-align: center;
            margin-bottom: 15px;

          }
          .product-stock-wrapper{
            margin-bottom: 20px;
          }
        }
      }
    }

  }
}
@media all and (max-width: 767px) {
  @each $header, $size in (h1: 37px, h2: 35px, h3: 23px, h4: 21px, h5: 17px, h6: 15px) {
    body #{$header} {
      font-size: $size;
      line-height: $size;
    }
  }
  .site-header .website-logo-main-wrapper .widget_shopping_mini_cart.dropdown-cart .dropdown-cart-button .dropdown .buttons{
    a{
      padding: 9px 6px;
    }
  }
  .home-tabs-features{
    > .row{
      text-align: center;

    }
    .nav.nav-tabs{
      display: inline-block;
      padding: 0;
      margin-top: 10px;
    }
  }


  .banner-wrapper .slider-content{
    .banner-image{
      position: relative;
      display: block;
      text-align: center;
    }
    .banner-text{
      display: block;
    }
  }
  .widget-wrapper {
    .widget_librafire_social_widget {
      .icon{
        margin-right: 25px;
        width: 35px;
        height: 35px;
        font-size: 20px;
      }
      .social-desc{
        left: 60px;
        top: -13px;
      }
    }
  }
  body.woocommerce-page.woocommerce-account {
    .woocommerce-MyAccount-content{
      width: 100% !important;
      padding: 0;
    }
  }
  body.woocommerce.woocommerce-page {
    div.product {
      div.images{
        padding-right: 0;
      }
    }
  }
}/*(max-width: 767px)*/
@media all and (max-width: 670px) {
  .woocommerce-result-count{
    display:none;
  }
}
@media all and (max-width: 640px) {
  .form-log-reg-wrapper{
    .form-row{
      &.form-row-last,
      &.form-row-first{
        width: 100% !important;
      }
    }
  }
  div.woocommerce ul.products li .one-product-inner .button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 11px !important;
  }
  footer{
    &.site-footer{
      .widget-wrapper{

        .widget-title{
          margin-bottom: 15px;
        }
        .col-md-3{
          width: 100%;
          text-align: center;
        }
        ul.menu{
          text-align: center ;
          padding-left: 0px !important;
          li{
            text-align: center !important;
            padding-left: 10px;
            max-width: 260px;
            margin: auto;
          }
        }
      }
    }
  }
  .share-buttons {
    a{
      margin-right: 0;
    }
  }
  .home-tabs-features {
    .nav.nav-tabs{
      li{
        display: inline-block;
        margin-top: 5px;
        float: none;
      }
    }
  }
  .shop-features{
    table{
      td{
        width: 100%;
      }
    }
  }
  .widget.widget_product_categories {
    .product-categories {
      li{
        width: 100%;
        display: inline-block;
        &.cat-parent{
          width: 100%;
          display: block;
          /*ul{
            li{
              width: 49%;
            }
          }*/
        }
      }
    }
  }

  .site-header .website-logo-main-wrapper {
    .main-logo-inner{
      width: 100%;
    }
    .widget_shopping_mini_cart.dropdown-cart{
      width: 100%;
    }
  }
}/*(max-width: 640px)*/
@media all and (max-width: 620px) {
  @each $header, $size in (h1: 30px, h2: 25px, h3: 21px, h4: 19px, h5: 17px, h6: 15px) {
    body #{$header} {
      font-size: $size;
      line-height: $size;
    }
  }
  [data-equal]{
    opacity: 1 !important;
    height: auto !important;
  }
}
@media all and (max-width: 600px) {
  body.woocommerce{
    &.woocommerce-page {
      div.product {
        div.summary{
          h1,h2,h3,h4{
            font-size: 18px;
            line-height: 100%;
          }
          .price{
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 560px) {
  .banner-wrapper {
    .slider-content {
      .banner-image{
        img{
          padding: 20px 10px 0;
        }
      }
    }
  }
  .share-buttons {
    a{
      margin-left: 0;
    }
  }
  /*.widget.widget_search_filter_register_widget {
    form{
      > ul {
        text-align: center;
        >li{
          max-width: 320px;
          margin: auto;
        }
      }
    }
    li {
      ul {
        li{
          width: 100%;
        }
      }
    }
    .meta-slider{
      margin-right: auto;
      margin-left: auto;
    }
  }*/
  .widget.widget_search_filter_register_widget {
    .searchandfilter {
      .sf-field-taxonomy-product_cat {
        > ul {
          > li {
            .children{
              margin-left: 15px;
              &:before{
                left: -10px;
              }
            }
          }
        }
      }
    }
  }
  .widget.widget_product_categories {
    h4.widget-title{
      text-align: center;
    }
    .product-categories {
      li{
        width: 100%;
        display: inline-block;
        &.cat-parent{
          width: 100%;
          display: block;
          ul{
            li{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .sidebar{
    margin-top: 15px;
    .widget-title{
      text-align: center;
    }
    li {
      width: 100%;
      float: none;
      text-align: center;
      margin: auto;
      &:before{
        position: relative;
        left: -10px;
      }
    }
  }
  header #site-navigation > div{
    width: 80%;
  }
  .banner-wrapper .slider-content{
    .banner-image{
      width: 100%;
    }
    .banner-text{
      width: 100%;
    }
  }

}
@media all and (max-width: 480px) {
  .home-tabs-features .nav-tabs{
    > li{
      margin-left: 5px !important;
      margin-bottom: 10px;
      &:last-child{
        margin-left: 0!important;
      }
      a{
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 10px;
      }
    }
  }
  body.woocommerce {
    .woocommerce-tabs {
      ul.tabs.wc-tabs {
      > {
        li {
          margin-right: 5px !important;
          margin-bottom: 10px;
          &:last-child{
            margin-right: 0!important;
          }
          a{
            padding-left: 5px !important;
            padding-right: 5px !important;
            font-size: 10px;
          }
        }
      }
      }
    }
  }
}
@media all and (max-width: 470px) {
  body{
    .wp_autosearch_suggestions{
      min-width: auto;
    }
  }
}
@media all and (max-width: 420px) {
  body.woocommerce ul.products li.product .product-title {
    h2,h1,h3,h4,h5,h6{
      font-size: 16px;
    }
  }
  div.woocommerce {
    table.shop_table {
      tbody {
        td.actions {
          div.coupon {
            @include border-radius(20px);
            input[type='text']{
              width: 100% !important;
              @include border-radius(20px);
            }
            input[type='submit']{
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}/*(max-width: 420px)*/
@media all and (max-width: 380px) {
  .search-filter-results {
    .count-post-on-filter{
      top: -53px;
      p{
        width: 110px;
      }
    }
  }
}
@media all and (max-width: 365px) {
  .woocommerce form .form-row-first, .woocommerce form .form-row-last{
    width: 100%;
  }
  body.woocommerce{
    &.woocommerce-page {
      div.product {
        div.images{
          width: 100% !important;
          margin: auto;
          max-width: 320px;
        }
        div.summary{
          width: 100% !important;
        }
      }
    }
  }
}/*(max-width: 365px)*/
@media all and (max-width: 345px) {

}/*(max-width: 345px)*/