.select2-dropdown {
  background-color: red;
  border: 1px solid red;
}
.select2-container--default {
  .select2-results__option[aria-selected="true"] {
      background-color: purple;
  }
  .select2-results__option--highlighted[aria-selected] {
      background-color: green;
  }
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $main_white;
          border-width: 0 5px 11px;
        }
      }
    }
  }
  .select2-selection--single {
    background-color: red;
    border: 1px solid red;
    @include border-radius(0);
    .select2-selection__rendered {
      color: $main_white;
      font-size: 14px;
      text-transform: uppercase;
    }
    .select2-selection__arrow {
      width: 30px;
      b {
        border-color: $main_white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-width: 11px 5px 0;
        margin-top: -5px;
      }
    }
  }
  .select2-results {
    .select2-results__options {
      color: $main_white;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}